---
layout: base.njk
permalink: /404.html
---

<div class="error-container">
  <div class="error-code">404</div>
  <h1 class="error-message">الصفحة غير موجودة</h1>
  <p class="error-description">عذراً، الصفحة التي تبحثين عنها غير موجودة أو ربما تم نقلها أو حذفها.</p>
  <a href="/" class="error-button">العودة إلى الصفحة الرئيسية</a>
</div>
